
:root {
  /*  colors  */
  --text: #fff;
  --red: #db3236;
  --green: #008744;
  --blue: #4885ed;
  --yellow: #f4c20d;
  --orange: #f4840d;
  --pink: #ed44b5;
  --violet: #7b1fa2;
  --gray: #6c6c6c;
  --background-brown: #e5c29f;
  --background-brown-dark: #d7b899;
  --background-green: #aad751;
  --background-green-dark: #a2d149;
  --cell-menu: #578a34;

  /*  images  */
  --time-icon: url('../image/chronometer.png');
  --flag-icon: url('../image/red-flag.png');
  --chovel-icon: url('../image/shovel.png')
  /*  spacing  */
  /*  text  */
}

.start {
  margin-top: 80px;
  text-align: center;
}

.start button {
  padding: 5px 30px;
  border-radius: 10px;
  border: 2px solid var(--gray);
}
