
.minesweeper {
    position: relative;
}



/* Board */

.board {
    /*display: flex;*/
    user-select: none;
    background-color: var(--background-green);
    border: 5px solid var(--background-green-dark);
    border-radius: 3px;

    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.board__row {
    display: flex;
    /*flex-direction: column;*/
}



/* Cell */

.cell {
    width: 25px;
    height: 25px;
    position: relative;

    transition: all 0.1s;
}

.cell__flag {
    position: relative;
    content: '';
    height: 25px;
    width: 25px;

    z-index: 2;
    background: var(--flag-icon) no-repeat center center;
    background-size: 18px;
}

.cell_green {
    background-color: var(--background-green);
}

.cell_dark-green {
    background-color: var(--background-green-dark);
}

.cell_brown {
    background-color: var(--background-brown);
}

.cell_dark-brown {
    background-color: var(--background-brown-dark);
}

.cell__flag_wrong {
    box-sizing: border-box;
    border: 2px solid var(--red);
}

.cell__flag_wrong::after {
    content: "x";
    position: absolute;
    top: -23px;
    left: 1px;

    font-size: 40px;
    color: var(--red);
}



/* Number */

.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -130%, 0);

    font-weight: bolder;
    font-size: 20px;
    transition: all 0.1s;
}

.number_blue {
    color: var(--blue);
}

.number_green {
    color: var(--green);
}

.number_red {
    color: var(--red);
}

.number_violet {
    color: var(--violet);
}

.number_orange {
    color: var(--orange);
}

.number_pink {
    color: var(--pink);
}

.number_yellow {
    color: var(--yellow);
}

.number_gray {
    color: var(--gray);
}



/* Mine */

.mine {
    position: relative;
    transition: all 0.1s;
}

.mine::after {
    content: '';
    width: 11px;
    height: 11px;
    position: absolute;
    top: 7px;
    left: 7px;
    border-radius: 50%;
    background-color: hsla(0, 0%, 0%, 0.15);
}

.mine_yellow {
    background-color: var(--yellow);
}

.mine_green {
    background-color: var(--green);
}

.mine_red {
    background-color: var(--red);
}

.mine_pink {
    background-color: var(--pink);
}

.mine_orange {
    background-color: var(--orange);
}

.mine_blue {
    background-color: var(--blue);
}



/* Menu (Cell Menu) */

.menu {
    position: absolute;
    top: -35px;
    left: -35px;
    z-index: 5;
}

.menu::after {
    content: '';
    position: absolute;
    left: 34px;
    top: 34px;

    height: 23px;
    width: 23px;

    border: 2px solid var(--cell-menu);
}

.menu__cancel {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 21px;
    height: 21px;

    border-radius: 50%;
    border: none;
    background-color: var(--cell-menu);
}

.menu__x {

}

.menu__shovel, .menu__flag {
    width: 30px;
    height: 30px;
    position: absolute;

    border-radius: 50%;
    border: none;
    background-color: var(--cell-menu);
}

.menu__shovel {
    left: 32px;
}

.menu__flag {
    top: 32px;
}

.menu__shovel-icon, .menu__flag-icon {
    margin-left: -7px;
    margin-top: -2px;

    width: 32px;
    height: 32px;
}

.menu__shovel-icon {
    background: var(--chovel-icon) no-repeat center center;
    background-size: cover;
}

.menu__flag-icon {
    background: var(--flag-icon) no-repeat center center;
    background-size: cover;
}